div(class='container')
	div(class='information')
		div(class='bridge-img')
			img(src='img/most.jpg' class='img')
			div(class='text-img')
				div(class='text') Good Inc. image caption to go here
		div(class='background')
		div(class='info')
			div(class='title') Hausework can't kill you, but why take a chance?
			div(class='text')
				.p gfgldsfng j gdsj gfdk gfd gknnsdf g fd g dsf g sdf g sdf g ds fg  dsf g df g sdf g  sdf gfdgsdfgdsgdf g dfg fd sg fdsgsdfg df gdsfgdf gdsfgdfgsdf hdghdfjghkldsfhgjdflghldsfhgldsfh
			div(class='plus') +
			div(class='data') 14th April 2013
			div(class='button')
				img(src='img/arrows.jpg')