div(class='content')
	div(class='picture')
		img(src="/img/most.jpg", class='bridge')
		div(class='background')
			div(class='text') Good Inc. image caption to go here
	div(class='band')
	div(class='arrow')
	div(class='info') 
		div(class='title') 
			h3 Housework cont't kill you, but why take a chance? 
		div(class='context')
			.p Quisque accumsanieefend dolor, hec bibendum nibh ultricies at. Nunc convallis risus sit amet augue bibendum non lobortis eros interdum. Maecenas quis risus felis, at volutpat elit...
		div(class='plus') +
		div(class='clock')
			img(src="/img/clock2.jpg", class='clockimg')
		div(class='data') 14th April 2013
		div(class='arrows')
			img(src="/img/arrows.jpg")

		

