div(class='content')
	div(class='picture')
		img(src="/img/most.jpg", class='bridge')
		div(class='background')
			div(class='text') Good Inc. image caption to go here
	div(class='band')
	div(class='arrow')
	div(class='info') 
		div(class='title') 
		

