div(class='cap')
	div(class='container clear-fix')
		div(class='logo')
			div(class='emblema') g
			div(class='title') Good Inc.
		div(class='input')
			div(class='newsletter') 
				div(class='img')
					img(src='img/gps.jpg' class='gps' )
				div(class='text') Newsletter
				div(class='button')
					img(src='img/lists.jpg')
			div(class='contact')
				div(class='img')
					img(src='img/clock.jpg' class='clock')
				div(class='text') Contact
				div(class='button')
					img(src='img/lists.jpg')
					