div(class='cap')
	div(class='emblema') 
		div(class='emblemLetter') g
			div(class='arrow')
	div(class='goodInc') Good Inc.
	div(class='lists') 
		div(class='newsletter') 
			div(class='gps') 
				img(src="/img/gps.jpg", class='imggps')
			div(class='text') Newsletter
			div(class='list') 
				img(src="/img/lists.jpg")
		div(class='contact')
			div(class='gps')
				img(src="/img/clock.jpg", class='imgclock')
			div(class='text') Contact
			div(class='list') 
				img(src="/img/lists.jpg")
