div(class='information')
	div(class='button')
		div(class='plus') +
	div(class='title')
		h1 A slightly different text box
	div(class='context')
		.p London is the capital of England and of the United Kingdom. It has the population about 8—9 million people. That's why it is one of the largest cities in Britain and one of the largest in the world. It is also one of the world's most important commercial and cultural cities. London is situated on the river Thames. 
		.p London is also interested because of its history. It reaches back to the Roman times and is recorded in the names of many of its streets. London was an important city in the Roman times. There are the Roman remains, mostly below its street level. In the Middle Ages it became the political and business capital of England and one of the most important cities in Europe.
