div(class='container')
	div(class='content')
		div(class='plus') +
		div(class='title') A slightly different text box
		div(class='text')
			.p Hkllk s  sg fdg df g dfg fd  dgfdg dsf g dgdfg ds gdf g g d g dsf g dsf g dfg d fgsdfg dfg dsf gdf g df g fd sg  df g s fg s df g fd  sg fd g fd sg  dsf g sd f gs df g dfg d f
			.p H g sdg  dsg sd fg  dsf g dsf g  dfg d  d f g sd f g d fg s dfg s d 
			.p Hkllk s  sg fdg df g dfg fd  dgfdg dsf g dgdfg ds gdf g g d g dsf g dsf g dfg d fgsdfg dfg dsf gdf g df g fd sg  df g s fg s df g fd  sg fd g fd sg  dsf g sd f gs df g dfg d f
			.p H g sdg  dsg sd fg  dsf g dsf g  dfg d  d f g sd f g d fg s dfg s d 
			.p Hkllk s  sg fdg df g dfg fd  dgfdg dsf g dgdfg ds gdf g g d g dsf g dsf g dfg d fgsdfg dfg dsf gdf g df g fd sg  df g s fg s df g fd  sg fd g fd sg  dsf g sd f gs df g dfg d f
			.p H g sdg  dsg sd fg  dsf g dsf g  dfg d  d f g sd f g d fg s dfg s d 