div(class='footer')
	div(class='botPanel')
		div(class='emblema') 
			div(class='emblemLetter') g
			div(class='arrow')
		div(class='goodInc') Good Inc.
		div(class='menu')
			div(class='menuItems') Portfolio
			div(class='menuItems') |
			div(class='menuItems') Services
			div(class='menuItems') |
			div(class='menuItems') Staff
			div(class='menuItems') |
			div(class='menuItems') Articles
			div(class='menuItems') |
			div(class='menuItems') Contact
	div(class='info')
		div(class='about') About us
		div(class='about') Footer Links here
		div(class='about') Privacy
		div(class='about') Page Links aiso
	div(class='footerText')
		.p Computer has become a vital part of human life. It is an obligatory tool of human development. Every major and minor industry is computerized. Computers do their jobs efficiently, fast, and productively. No doubt they have made our lives much easier.