div(class='footer')
	div(class='container')
		div(class='bot-menu')
			div(class='logo')
				div(class='emblema') g
				div(class='title') Good Inc.
			div(class='menu')
				div(class='menu-item') Portfolio
				div(class='menu-item') |
				div(class='menu-item') Services
				div(class='menu-item') |
				div(class='menu-item') Staff
				div(class='menu-item') |
				div(class='menu-item') Articles
				div(class='menu-item') |
				div(class='menu-item') Contact
		div(class='links')
			div(class='about') About us
			div(class='footer-links') Footer Links here
			div(class='privacy') Privacy
			div(class='page-link') Page links also
		div(class='footer-text') В конце апреля 2015 года стало известно, что презентации альбома пройдут 13 и 14 ноября того же года в Санкт-Петербурге и Москве соответственно.[7] Как утверждает сам Мирон, альбом был написан за 3 недели до первой из них, что получилось благодаря «невероятному» выбросу адреналина в страхе в очередной раз потерпеть фиаско, как это случилось, когда он назначил датой выхода август 2014-го и не успел закончить альбом в срок.