div(class='container clear-fix')
	div(class='head')
		div(class='emblema')
			div(class='emblema-img')
				img(src='img/gps2.jpg' class='gps')
		div(class='menu')
			div(class='menu-item') Portfolio
			div(class='menu-item') |
			div(class='menu-item') Services
			div(class='menu-item') |
			div(class='menu-item') Staff
			div(class='menu-item') |
			div(class='menu-item') Articles
			div(class='menu-item') |
			div(class='menu-item') Contact
		div(class='select-menu')
			div(class='quicklinks') Quicklinks
				div(class='gps-img')
					img(src='img/gps2.jpg' class='gps')
			div(class='dropdown') Select from dropdown
				div(class='button')
					img(src='img/dropdown.jpg' class='img')

