div(class='head')
	div(class='gps')
		img(src="/img/gps2.jpg", class='gpsimg')
	div(class='menu')
		div(class='menuItems') Portfolio
		div(class='menuItems') |
		div(class='menuItems') Services
		div(class='menuItems') |
		div(class='menuItems') Staff
		div(class='menuItems') |
		div(class='menuItems') Articles
		div(class='menuItems') |
		div(class='menuItems') Contact
	div(class='quicklinks') Quicklinks
		img(src="/img/gps2.jpg", class='imgQuick')
	div(class='dropdown') Select from dropdown
		img(src="/img/dropdown.jpg", class='impDropdown')
