div(class='container clear-fix')
	div(class='line')
		div(class='search')
			div(class='text') Search for somthing here
			div(class='img')
				img(src='img/clock.jpg' class='clock')
		div(class='findy')
			div(class='img')
				img(src='img/gpsgrey.jpg' class='gps')
			div(class='text') Findy
			div(class='button')
				img(src='img/lists2.jpg')
		div(class='social')
			div(class='twitter') 
				img(src='img/twitter.jpg' class='img')
				div(class='name') Twitter
			div(class='facebook')
				img(src='img/facebook.jpg')
				div(class='name') Facebook
			div(class='rss')
				img(src='img/RSS.jpg')
				div(class='name') RSS
			div(class='mail')
				img(src='img/mail.jpg')
				div(class='name') Mail