div(class='line')
	div(class='search')
		div(class='text') Search for somithing here
		div(class='img')
			img(src="/img/clock.jpg", class='clock')
	div(class='findy')
		div(class='img')
			img(src="/img/gpsgrey.jpg", class='gps')
		div(class='text') Findly
		div
			img(src="/img/lists2.jpg", class='lists')
	div(class='social')
		div(class='imgsocial')
			img(src="/img/twitter.jpg")
		div(class='socialNet') Twitter
		div(class='imgsocial')
			img(src="/img/facebook.jpg")
		div(class='socialNet') Facebook
		div(class='imgsocial')
			img(src="/img/RSS.jpg")
		div(class='socialNet') RSS
		div(class='imgsocial')
			img(src="/img/mail.jpg")
		div(class='socialNet') Mail


