div(class='container')
	div(class='slide-menu')
		div(class='slide slide1')
			div(class='img')
				img(src='img/sea.jpg' class='sea')
				div(class='arrows') 
					div(class='plus') +
			div(class='information')
				div(class='title') Taste & Sounds from Thailand
				div(class='text') jdgfjdngjdf jdfgkjd jkdjfgdf gdkfg dklfg dfg kdg kdgldskfgd fgkd gkldf gkdlfgjdfkl gd
		div(class='slide slide2')
			div(class='img')
				img(src='img/sea2.jpg' class='sea')
				div(class='arrows') 
					div(class='plus') +
			div(class='information')
				div(class='title') Taste & Sounds from Thailand
				div(class='text') jdgfjdngjdf jdfgkjd jkdjfgdf gdkfg dklfg dfg kdg kdgldskfgd fgkd gkldf gkdlfgjdfkl gd
		div(class='slide slide3')
			div(class='img')
				img(src='img/sea3.jpg' class='sea')
				div(class='arrows') 
					div(class='plus') +
			div(class='information')
				div(class='title') Taste & Sounds from Thailand
				div(class='text') jdgfjdngjdf jdfgkjd jkdjfgdf gdkfg dklfg dfg kdg kdgldskfgd fgkd gkldf gkdlfgjdfkl gd
