div(class='slide')
	div(class='slide1')
		div
			img(src="/img/sea.jpg", class='img')
			div(class='corner') 
				div(class='plus') +
		div(class='title')
			h1 Taste & Sounds from Thailand	
		div(class='context')
			p We've made some small changes to BlazRobar.com...
	
	div(class='slide2')
			div
				img(src="/img/sea2.jpg", class='img')
				div(class='corner') 
					div(class='plus') +
			div(class='title')
				h1 BlazRobar.com is awesome for PSD	
			div(class='context')
				p We've made some small changes to BlazRobar.com...	
	
	div(class='slide3')
			div
				img(src="/img/sea3.jpg", class='img')
				div(class='corner cornercolor') 
					div(class='plus') +
			div(class='title')
				h1 Nice Looking Mountains Ah?
			div(class='context')
				p We've made some small changes to BlazRobar.com...

	div(class='leftArrow')
		img(src="/img/leftArrow.jpg")
	div(class='rightArrow')
		img(src="/img/rightArrow.jpg")

