.cap {
	background-color: #363636;
	width: 100%;
	height: 70px;
	.logo {
		float: left;
		.emblema{
			width: 70px;
			height: 70px;
			background-color: #FF7F50;
			color: white;
			font-size: 40px;
			text-align: center;
			position: relative;
			display: inline-block;
			margin-right: 25px;
			&:after {
				position: absolute;
				right: -35px;
				top: 15px;
				width: 0px;
				height: 0px;
				border: 20px solid transparent;					border-left-color: #FF7F50;
				content: '';
			}
		}
		.title {
			color: white;
			font-size: 20px;
			display: inline-block;
			position: relative;
			top: 3px;
		}
	}
	.input {
		float: right;
		position: relative;
		top: 17.5px;
		height: 35px;
		.newsletter {
			background-color: white;
			height: 35px;
			width: 170px;
			display: inline-block;
			.img {
				display: inline-block;
				position: relative;
				top: 7.5px;
				left: 7.5px;
				height: 20px;	
				.gps {
					width: 20px;
					heigth: 20px;
				}
			}
			.text {
				display: inline-block;
				color: grey;
				position: relative;
				top: 3px;
				left: 15px;
				font-size: 14px;
			}
			.button {
				position: relative;
				bottom: 25px;
				left: 135px;
				width: 35px;
				height: 35px;
			}
		}
		.contact {
			display: inline-block;
			background-color: white;
			margin-left: 20px;
			height: 35px;
			width: 140px;
			position: relative;
			.img{
				display: inline-block;
				position: relative;
				height: 20px;
				top: 7.5px;
				left: 7.5px;	
				.clock {
					width: 20px;
					height: 20px;
				}
			}
			.text {
				display: inline-block;
				color: grey;
				position: relative;
				top: 3px;
				left: 15px;
				font-size: 14px;
			}
			.button {
				position: relative;
				bottom: 25px;
				left: 115px;
				height: 35px;
				width: 35px;
			}
		}

	}
}
.container {
	margin: 0 auto;
	width: 60%;
}