.footer {
	background-color: #4F4F4F;
	height: 400px;
	.botPanel {
		margin-left: 400px;
		background-color: #363636;
		height: 70px;
		.emblema {
			height: 70px;
			width: 80px;
			background-color: #FF7F50;
			.arrow {
				height: 0px;
				border: 20px solid transparent;
				border-left-width: 20px;
				border-bottom-width: 20px;
				border-left-color: #FF7F50;
				background: none;
				position: absolute;
				left: 480px;
				top: 1454px;

			};
			.emblemLetter {
				font-size: 40px;
				color: white;
				margin-left: 30px;
			};
		};
		.goodInc {
			position: relative;
			bottom: 65px;
			left: 100px;
			margin-top: 20px;
			color: white;
			font-size: 20px;
		};
		.menu{
			position: relative;
			left: 680px;
			bottom: 110px;
			.menuItems {
				color: white;
				display: inline-block;
				text-align: center;
				position: relative;
				top: 23px;
				font-size: 15px;
				margin-right: 20px;
			};
		};
	};
	.info{
		margin-left: 400px;
		color: white;
		.about {
			display: inline-block;
			margin-right: 25px;
			margin-top: 50px;
		};
	};
	.footerText {
		margin-left: 400px;
		color: grey;
		width: 950px;
		font-size: 12px;
		margin-top: 20px;
	}
};