.footer {
	background-color: #363636;
	height: 600px;
	.bot-menu {
		width: 100%;
		height: 70px;
		background-color: #4F4F4F;
		.logo {
			float: left;
			.emblema{
				width: 70px;
				height: 70px;
				background-color: #FF7F50;
				color: white;
				font-size: 40px;
				text-align: center;
				position: relative;
				display: inline-block;
				margin-right: 25px;
				&:after {
					position: absolute;
					right: -35px;
					top: 15px;
					width: 0px;
					height: 0px;
					border: 20px solid transparent;					
					border-left-color: #FF7F50;
					content: '';
				}
			}
			.title {
				color: white;
				font-size: 20px;
				display: inline-block;
				position: relative;
				top: 3px;
			}
		}
		.menu {
			display: inline-block;
			position: relative;
			top: 15px;
			float: right;
			.menu-item {
				display: inline-block;
				margin: 10px;
				color: white;
			}
		}
	}
	.links {
		color: white;
		margin-top: 60px;
		.about {
			display: inline-block;
		}
		.footer-links {
			display: inline-block;
			margin-left: 30px;
		}
		.privacy {
			display: inline-block;
			margin-left: 30px;
		}
		.page-link {
			display: inline-block;
			margin-left: 30px;
		}
	}
	.footer-text {
		color: grey;
		font-size: 13px;
		width: 90%;
		margin-top: 30px;
	}
}