.head {
	width: 100%;
	height: 70px;
	background-color: #4F4F4F;
	.emblema {
		width: 70px;
		height: 70px;
		float: left;
		.emblema-img {
			width: 20px;
			height: 20px;
			position: relative;
			top: 25px;
			left: 25px;
			.gps {
				width: 20px;
			}
		}
	}
	.menu {
		display: inline-block;
		position: relative;
		top: 15px;
		.menu-item {
			display: inline-block;
			margin: 10px;
			color: white;
		}
	}
	.select-menu {
		float: right;
		height: 70px;
		.quicklinks {
			color: white;
			position: relative;
			top: 20px;
			display: inline-block;
			.gps-img {
				display: inline-block;
				position: relative;
				top: 5px;
				left: 10px;
				.gps {
					width: 20px;
				}
			}
		}
		.dropdown {
			color: white;
			display: inline-block;
			margin-left: 60px;
			position: relative;
			top: 20px;
			.button {
				display: inline-block;
				position: relative;
				top: 4px;
			}
		}


	}
}