.head {
	background-color: #4F4F4F;
	margin-left: 400px;
	.gps {
		height: 70px;
		width: 80px;
		display: inline-block;
		.gpsimg {
			height: 17px;
			width: 17px;
			position: relative;
			top: 26.5px;
			left: 31.5px;
		};
	};
	.quicklinks {
		margin-left: 280px;
		margin-right: 0px;
		color: white;
		display: inline-block;
		text-align: center;
		position: relative;
		top: 23px;
		font-size: 15px;
		.imgQuick {
			height: 17px;
			width: 17px;
			position: relative;
			top: 3px;
			left: 5px;
		};
	};
	.menu {
		display: inline-block;
		.menuItems {
			color: white;
			display: inline-block;
			text-align: center;
			position: relative;
			top: 23px;
			font-size: 15px;
			margin-right: 20px;
		};
	};
	.dropdown {
		color: white;
		display: inline-block;
		text-align: center;
		position: relative;
		top: 23px;
		font-size: 15px;
		margin-right: 20px;
		margin-left: 45px;
		.impDropdown {
			position: relative;
			top: 5px;
			left: 10px;	
		};
	};
};
