.line {
	margin-left: 400px;
	margin-top: 15px;
	height: 40px;
	.search {
		background-color: white;
		height: 40px;
		width: 300px;
		display: inline-block;
		position: relative;
		bottom: 26px;
		.text {
			position: relative;
			top: 10px;
			left: 15px;
			color: grey;
		};
		.img {
			width: 40px;
			height: 40px;
			position: absolute;
			left: 260px;
			top: 0px;
		};
		.clock {
			width: 40px;
			height: 40px;
		};
	};
	.findy {
		display: inline-block;
		background-color: white;
		height: 40px;
		width: 150px;
		margin-left: 15px;
		.img {
			height: 30px;
			width: 30px;
			display: inline-block;
			margin-top: 10px;
		};
		.gps {
			height: 30px;
		};
		.text {
			display: inline-block;
			position: relative;
			bottom: 15px;
			left: 5px;
			color: grey;
		};
		.lists {
			position: absolute;
			left: 830px;
			top: 164px;
			height: 40px;
		};
	};
	.social {
		display: inline-block;
		height: 40px;
		margin-left: 260px;
		.socialNet {
			display: inline-block;
			margin-right: 40px;
			position: relative;
			bottom: 15px;
			color: grey;
		}
		.imgsocial {
			display: inline-block;
			position: relative;
			bottom: 14px;
		}
	}

};