.slide {
	height: 400px;
	width: 1082px;
	margin-left: 400px;
	margin-top: 10px;
	.img {
		height: 200px;
		width: 347px;
	};
	.corner {
		height: 0px;
		border: 20px solid transparent;
		border-right-width: 70px;
		border-bottom-width: 70px;
		border-top-width: 0px;
		border-right-color: #4F4F4F;
		background: none;
		position: absolute;
		top: 0px;
		right: 0px;
		.plus {
			position: relative;
			top: 7px;
			left: 55px;
			color: white;
			font-size: 25px;
			font-weight: bold;
		};
	};
	.slide1 {
		height: 400px;
		background-color: white;
		width: 347px;
		position: relative;
		display: inline-block;
	};
	.slide2 {
		height: 400px;
		background-color: white;
		width: 347px;
		position: relative;
		display: inline-block;
		margin-left: 20.5px;
	};
	.slide3 {
		height: 400px;
		background-color: white;
		width: 347px;
		position: relative;
		display: inline-block;
		margin-left: 20.5px;
		.cornercolor {
			border-right-color: #FF7F50;
		};
	};
	.title {
		color: grey;
		position: relative;
		left: 30px;
		width: 300px;
	};
	.context {
		color: grey;
		width: 300px;
		position: relative;
		left: 30px;
	};
	.leftArrow {
		position: absolute;
		top: 710px;
		left: 380px;
	};
	.rightArrow {
		position: absolute;
		top: 710px;
		right: 380px;
	};
};