@import 'cap';
@import 'head';
@import 'search';
@import 'body';
@import 'slide';
@import 'content';
@import 'footer';
body {
	background-color: #E8E8E8;
}
* {
	border-sizing: border-box;
}
html body {
	margin: 0;
	padding: 0;
}
.clear-fix{
	&:after {
		clear: both;
		display: table;
		content: '';
	}
}
