.cap {
	background-color: #363636;
	.emblema {
		height: 70px;
		width: 80px;
		margin-left: 400px;
		background-color: #FF7F50;
		display: inline-block;
		.arrow {
			height: 0px;
		   	border: 20px solid transparent;
		    border-left-width: 20px;
		    border-bottom-width: 20px;
		    border-left-color: #FF7F50;
		    background: none;
		    position: absolute;
		    left: 480px;
		    top: 20px;
		}
		.emblemLetter {
			font-size: 40px;
			color: white;
			margin-left: 30px;
		}
	}
	.goodInc {
		display: inline-block;
		margin-left: 20px;
		margin-top: 20px;
		color: white;
		font-size: 20px;
	}
	.lists {
		display: inline-block;
		position: absolute;
		top: 25px; 
		right: 400px;
		.newsletter {
			background-color: white;
			display: inline-block;
			height: 35px;
			display: inline-block;
		}
		.contact {
			background-color: white;
			display: inline-block;
			height: 35px;
			margin-left: 20px;
		}
		.imggps {
			height: 20px;
			width: 20px;
			position: absolute;
			left: 7.5px;
			top: 7.5px;
		}
		.imgclock {
			height: 20px;
			width: 20px;
			position: absolute;
			left: 205px;
			top: 7.5px;
		}
		.gps {
			height: 35px;
			width: 35px;
			display: inline-block;
		}
		.text {
			display: inline-block;
			color: grey;
			position: relative;
			bottom: 10px;
		}
		.list {
			display: inline-block;
			height: 35px;
			width: 35px;
			color: grey;
			margin-left: 40px;
		}
	}
}